<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>sdf</display-name>
    <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
    
    <servlet>
        <servlet-name>myServletDispatcher</servlet-name>
        <servlet-class>com.lionnet.gpay.servlet.MyServletDispather</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myServletDispatcher</servlet-name>
        <url-pattern>/MyServletDispatcher</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>weatherAsker</servlet-name>
        <servlet-class>com.lionnet.gpay.servlet.WeatherAsker</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>weatherAsker</servlet-name>
        <url-pattern>/WeatherAsker</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>help</servlet-name>
        <servlet-class>com.lionnet.gpay.servlet.Help</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>help</servlet-name>
        <url-pattern>/Help</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>accountBind</servlet-name>
        <servlet-class>com.lionnet.gpay.servlet.AccountBind</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>accountBind</servlet-name>
        <url-pattern>/AccountBind</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>accountBindLink</servlet-name>
        <servlet-class>com.lionnet.gpay.servlet.AccountBindLink</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>accountBindLink</servlet-name>
        <url-pattern>/AccountBindLink</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>advice</servlet-name>
        <servlet-class>com.lionnet.gpay.servlet.Advice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>advice</servlet-name>
        <url-pattern>/Advice</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>balanceQuery</servlet-name>
        <servlet-class>com.lionnet.gpay.servlet.BalanceQuery</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>balanceQuery</servlet-name>
        <url-pattern>/BalanceQuery</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>detailQuery</servlet-name>
        <servlet-class>com.lionnet.gpay.servlet.DetailQuery</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>detailQuery</servlet-name>
        <url-pattern>/DetailQuery</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>merchantsGetter</servlet-name>
        <servlet-class>com.lionnet.gpay.servlet.MerchantsGetter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>merchantsGetter</servlet-name>
        <url-pattern>/MerchantsGetter</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>netsGetter</servlet-name>
        <servlet-class>com.lionnet.gpay.servlet.NetsGetter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>netsGetter</servlet-name>
        <url-pattern>/NetsGetter</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>accountUnbound</servlet-name>
        <servlet-class>com.lionnet.gpay.servlet.AccountUnbound</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>accountUnbound</servlet-name>
        <url-pattern>/AccountUnbound</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>advicePost</servlet-name>
        <servlet-class>com.lionnet.gpay.servlet.AdvicePost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>advicePost</servlet-name>
        <url-pattern>/AdvicePost</url-pattern>
    </servlet-mapping>
</web-app>